body{
    text-align: center;
    background-color: aquamarine;
}

h1{
    font-size: 5rem;
    color: #020e38;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 0 #d0cbcd;
}

.w{
    background-image: url('images/tom1.png');
}
.a{
    background-image: url('images/tom2.png');
}
.s{
    background-image: url('images/tom3.png');
}
.d{
    background-image: url('images/tom4.png');
}
.j{
    background-image: url('images/crash.png');
}
.k{
    background-image: url('images/snare.png');
}
.l{
    background-image: url('images/kick.png');
}

.set{
    margin: 10% auto;
}

.games-over {
    background-color: red;
    opacity: 0.8;
}
.pressed{
    box-shadow: 0 3px 4px 0 #020e38;
    opacity: 0.5;
}

.drum{
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3xp 0 #DBEDF3;
    border-radius: 15px;
    display: inline;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: #ffff;

}